body {
    background-color: #333333;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.fonte-menor {
     font-size: small;
}